<!DOCTYPE html><html><body>
        <div style="width:21cm;height: 27.9cm;font-family: 'Times New Roman';font-size: 14px; box-sizing: border-box; padding: 2.54cm">
        <div style="">
            <p style="font-size: 38px;text-align: center;margin: 0px;">Jonas Weber</p>
            <p style="text-align: center; font-size: 13px;margin: 0px;">
                <a href="mailto:jonas@gmail.com" style="color: rgb(46,116,181);">jonas@gmail.com</a> • 1234567890
            </p>
            <p style="text-align: center; font-size: 13px;margin: 0px;">
                NewYork, NY
            </p>
        </div><div style="margin-bottom:10px;">
            <p style="color: rgb(46, 116, 181);font-size: 21px;margin: 0px;">Objective</p>
            <hr style="border: solid 1px black;margin: 0px;" />
            <p style="margin: 0px;text-indent: 5mm;">To obtain an office administrator role where I can utilize my skills in Microsoft Excel, Word, and Google Sheets to efficiently and effectively manage daily operations.</p>
        </div><div style="margin-bottom:10px;">
            <p style="color: rgb(46, 116, 181);font-size: 21px;margin: 0px;">Summary</p>
            <hr style="border: solid 1px black;margin: 0px;" />
            <p style="margin: 0px;text-indent: 5mm;">Experienced professional with over 8 years of experience in customer service, data entry, and administrative roles. Possesses strong organizational and problem-solving skills with the ability to multitask and prioritize tasks effectively. Highly proficient in Microsoft Excel, Word, and Google Sheets with a proven track record of providing accurate results.</p>
        </div><div style="margin-bottom:10px;">
			<p style="color: rgb(46, 116, 181);font-size: 21px;margin: 0px;">Experience</p>
			<hr style="border: solid 1px black;margin: 0px;" />
            <p style="font-weight: bold;margin: 0px;display: inline-block;">Upwork</p>
            <p style="margin: 0px; float: right; font-weight: bold;display: inline-block;"> February 2011 - February 2012</p>
            <p style="font-style: italic;margin: 0px;">Freelancer</p>
            <ul style="margin: 0px 0px 0px 0px;list-style: disc; padding-left: 40px;">
            <li>Answered customer questions and offered technical assistance.</li><li>Guaranteed customer contentment with prompt and precise replies.</li><li>Generated reports and tracked customer data</li><li>Assisted customers with troubleshooting technical issues.</li></ul >
            <p style="font-weight: bold;margin: 0px;display: inline-block;">WE</p>
            <p style="margin: 0px; float: right; font-weight: bold;display: inline-block;"> February 2013 - February 2016</p>
            <p style="font-style: italic;margin: 0px;">Driver</p>
            <ul style="margin: 0px 0px 0px 0px;list-style: disc; padding-left: 40px;">
            <li>Drove company vehicles to transport goods and personnel</li><li>Ensured timely and safe delivery of goods to customers</li><li>Maintained accurate records of mileage, fuel consumption, and maintenance</li><li>Operated company vehicles in accordance with traffic regulations and company policies.</li></ul >
        </div><div style="margin-bottom:10px;">
        <p style="color: rgb(46, 116, 181);font-size: 21px;margin: 0px;">Education</p>
        <hr style="border: solid 1px black;margin: 0px;" />   
            <p style="font-weight: bold;margin: 0px;display: inline-block;">XYZ University</p>
            <p style="margin: 0px; float: right; font-weight: bold;display: inline-block;">2009 - 2011</p>
            <p style="font-style: italic;margin: 0px;">Computer Science - Bachelor's Degree in Computer Science</p><ul style="margin: 0px 0px 0px 0px;list-style: disc; padding-left: 40px;"></ul></div ><div style="margin-bottom:10px;">
			<p style="color: rgb(46, 116, 181);font-size: 21px;margin: 0px;">Skills</p>
			<hr style="border: solid 1px black;margin: 0px;" />
            <ul style="margin: 0px 0px 0px 0px;list-style: disc; padding-left: 40px;"><li>Microsoft Excel - Highly proficient in creating spreadsheets, formulas, and pivot tables. Experienced in data analysis and visualization.</li><li>Word - Skilled in creating documents, formatting text, and creating tables.</li><li>Google Sheets - Experienced in creating and editing spreadsheets, formulas, and charts.</li>
            </ul >
        </div ><div style="margin-bottom:10px;">
        <p style="color: rgb(46, 116, 181);font-size: 21px;margin: 0px;">Reference</p>
        <hr style="border: solid 1px black;margin: 0px;" /></div></div ></body></html >