node_modules/
client_secret_330128867438-4b0shtp0vhj06mcrqdda76f2opa417nh.apps.googleusercontent.com.json
modern-radius-373121-2b571a0aae66.json
warm-practice-374712-bad6d6b12541.json
resume-builder.zip
client_chat/
package-lock.json
.env